body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg-color);
  overflow: hidden;
  height: 100vh;
}
@font-face {
  font-family: quizFont;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
* {
  font-family: quizFont;
  letter-spacing: 1px;
}

:root {
  --bg-color: rgb(54, 60, 105);
  --card-color: rgb(189, 183, 107);
  --bg-text-color: white;
  --select-color: rgb(126, 122, 72);
}

.bg-text {
  color: var(--bg-text-color);
  text-align: center;
}
img {
  /* au cas ou je la remettrais */
  height: 200px;
  width: 250px;
}

.record {
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.score {
  font-size: 2rem;
}
.questions-lefts {
  font-size: 1rem;
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  border: 2px solid whitesmoke;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  transform: translate(350px, -100px);
  cursor: pointer;
}

.music:hover {
  color: grey;
}

.card {
  position: relative;
  height: 500px;
  width: 800px;
  margin: 50px 0 30px 0;
  background: var(--card-color);
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.theme-in {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  font-style: italic;
  color: var(--bg-text-color);
  font-size: 0.7rem;
  background: brown;
  border-radius: 50%;
  user-select: none;
}

.card > .hint {
  height: 50px;
  font-style: italic;
  transform: rotate(180deg);
}

.card-question {
  font-size: clamp(
    1.5rem,
    2vw,
    2rem
  ); /* Ajuste la taille du texte en fonction de la longueur */

  height: 300px;
  /* overflow: hidden; */
  text-align: center;
  user-select: none;
}

.card-responses-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.correct {
  animation: correct 1.2s forwards;
}
.wrong {
  animation: wrong 0.5s forwards;
}

@keyframes correct {
  0% {
    background: var(--card-color);
  }
  20% {
    background: green;
  }
  100% {
    background: var(--card-color);
  }
}

@keyframes wrong {
  0% {
    transform: translateX(-50px);
  }
  20% {
    background: red;
    transform: translateX(50px);
  }
  40% {
    transform: translateX(-50px);
  }
  60% {
    background: red;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-50px);
  }
  100% {
    background: var(--card-color);
    transform: translateX(0px);
  }
}

.card-responses-container > .responses {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.card-responses-container > .responses > .response {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  user-select: none;
  font-size: 1.5rem;
}

.card-responses-container > .responses > .response:hover {
  transform: scale(1.05);
  background: var(--bg-color);
  color: white;
  transition: 0.2s;
}

.final {
  font-size: 3rem;
  font-style: none;
  display: flex;
  align-items: center;
  color: rgb(156, 133, 0);
}
.appreciation {
  font-size: 1.5rem;
}

.retry-button {
  transition: 0.2s;
  position: relative;
  background: none;
  color: black;
  border-radius: 35px;
  height: 70px;
  width: 300px;
  transform: translateY(50px);
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid black;
  overflow: hidden;
}

.retry-button:hover {
  transition: 0.2s;
  transform: translateY(50px);
  box-shadow: 0 0 rgb(16, 16, 97);
  border: 3px solid white;
  font-size: 1.5rem;
  color: white;
}

.retry-button:active {
  transition: 0.2s;
  box-shadow: 0 0;
  font-size: 0.8rem;
  transform: scale(0.8) translateY(50px);

  transition: 0.2s;
  box-shadow: 0 0;
}

.retry-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.664),
    transparent
  );
  transition: ease-in-out 500ms;
}

.retry-button:hover:before {
  left: 200%;
}

.timer {
  margin: 10px 0;
  border-radius: 10px;
  min-height: 15px;
  width: 100%;
  background: rgb(77, 77, 255);
}

.imgFinal {
  position: relative;
  width: 150px;
  height: 150px;
  /* animation: finish 3s; */
}

@keyframes finish {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

.imgFinal:hover {
  transition: 0.2s;
  transform: scale(2.5);
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
}

.settings-btn {
  position: absolute;
  transform: translate(370px, -220px);
  background-color: var(--bg-color);
  mask-image: url("./assets/img/svg/gear-solid.svg");
  height: 70px;
  width: 70px;
  background-size: contain; /* Pour ajuster l'image à la taille du bouton */
  background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
  background-position: center; /* Centrer l'image dans le bouton */
  fill: red;
  stroke: red;
}

.settings-btn:hover {
  position: absolute;
  transition: 0.2s;
  /* background: var(--bg-text-color); */
  cursor: pointer;
  transform: translate(370px, -220px) rotate(60deg) scale(1.1);
}

.settings {
  display: none;
  position: absolute;
  z-index: 100;
  background: var(--card-color);
  height: 500px;
  width: 800px;
  border-radius: 50px;
  border: 10px solid white;
  top: 40%;
  left: 50%;
  transition: 0.5s;
  padding: 20px;
}

@keyframes active {
  0% {
    transform: translate(100%, -50%);
  }
  70% {
    transform: translate(-70%, -50%);
  }
  90% {
    transform: translate(-40%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes valid {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, 100%);
  }
}

.challenge {
  position: absolute;
  height: 70px;
  width: 200px;
  background: orangered;
  border: 2px solid black;
  transform: translate(570px, -70px);
  border-radius: 25px;
  box-shadow: 0 10px black;
  font-size: 1.2rem;
  cursor: pointer;
}

.challenge:hover {
  background: orange;
}

.challenge:active {
  transition: 0.1s;
  box-shadow: 0 0 0 0;
  transform: translate(570px, -60px);
}

.settings-title {
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
}

.set {
  margin: 10px;
}

.settings-themes-list {
  display: flex;
  height: 120px;
}
.settings-themes-title {
  font-weight: bold;
  margin: 20px 0;
}
.settings-theme {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#theme-all-input {
  font-weight: bold;
}

.settings-validate {
  display: block;
  height: 70px;
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 1.2rem;
  margin: 100px auto 0 auto;
  background: none;
  box-shadow: 0 10px black;
}
.settings-validate:hover {
  transition: 0.2s;
  background: var(--select-color);
}
.settings-validate:active {
  transition: 0s;
  box-shadow: 0 0 black;
  transform: translateY(10px);
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 99;
  display: none;
  transition: 0.5s;
}

.changing-theme-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bg-text-color);
  font-size: 3rem;
  animation: change-theme 2s forwards;
  user-select: none;
}

@keyframes change-theme {
  0% {
    transform: translate(-50%, -1000px);
  }
  20% {
    transform: translate(-50%, 0px);
  }
  80% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 1000px);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.top-100 {
  background: var(--card-color);
  border: 1px solid black;
  width: 220px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-style: normal;
}

.top-100:hover {
  transition: 0.2s;
  cursor: pointer;
  background: var(--select-color);
}

.top-100:active {
  transition: 0s;
  transform: scale(0.9);
}

.leaderboard {
  display: none;
  background: var(--card-color);
  border: 5px solid var(--bg-text-color);
  border-radius: 20px;
  width: 500px;
  height: 700px;
  position: absolute;
  text-align: center;
}
.leaderboard h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 20px 0;
  margin: 0;
  font-size: 3rem;
}
.leaderboard-container {
  overflow: auto;
  max-height: 550px;
}
.top100-li {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  list-style: none;
  font-size: 1.5rem;
  padding: 5px 0;
}

.top100-li:nth-child(even) {
  background: var(--select-color);
}
.top100-li:nth-child(odd) {
  background: var(--bg-text-color);
}

/* PARTIE SUBMIT SCORE */

.submit-score-container {
  position: absolute;
  width: 500px;
  height: 300px;
  background: var(--card-color);
  border: 10px solid var(--bg-text-color);
  border-radius: 25px;
  z-index: 100;
}

.ssc-title {
  font-size: 1.5rem;
  text-align: center;
  background: var(--bg-text-color);
  color: var(--bg-color);
  margin-top: 50px;
  padding: 10px 0;
  user-select: none;
}

.submit-score-container input[type="text"] {
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 1.2rem;
  outline: none;
  color: white;
  background: var(--card-color);
}
.submit-score-container input[type="text"]:focus {
  box-shadow: 0 0 0px 2px black;
  background: var(--bg-text-color);
  color: black;
}

.submit-score-container input[type="submit"] {
  display: block;
  margin: 20px auto 0 auto;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 10px 0 0 black;
  background: var(--card-color);
  font-size: 1.2rem;
}
.submit-score-container input[type="submit"]:hover {
  background: var(--select-color);
}

.submit-score-container input[type="submit"]:active {
  transform: translateY(10px);
  box-shadow: 0 0px 0 0 black;
}

.cancel-cross {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  fill: red;
}
.cancel-cross:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.cancel-cross:active {
  transform: scale(0.9);
}

/* FIN SUBMIT FORM */

.visites {
  position: absolute;
  color: var(--bg-text-color);
  font-size: 0.7rem;
  top: 97%;
  right: 1%;
}

iframe {
  width: 0;
  height: 0;
}

.good-luck {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 100;
  color: var(--bg-text-color);
  animation: gl 2s forwards;
  user-select: none;
}

.good-luck > .gl-letter {
  animation: glow 1s linear infinite;
  color: gold;
}

@keyframes gl {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(10);
  }
  100% {
    transform: scale(7);
  }
}

@keyframes glow {
  100% {
    filter: hue-rotate(360deg);
  }
}
